@model IEnumerable<TeacherProject.Models.Student>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<p>This page should be showing all information on all students.</p>
<a class="btn btn-primary" href="/">Back to Home</a>
<div id="containerList">
    <h2>List of Students</h2>
    <nav>
        <a class="navlink" href="/Student/New">New Student</a>
    </nav>
    <form action="/Student/List" method="GET">
        <input type="text" name="SearchKey" autocomplete="off" />
        <input type="submit" value="Search" />
    </form>
    @foreach (var student in Model)
    {
        <div class="listitem row">
            <div class="col1-md-12"><a href="/Student/Show/@student.StudentID">@student.StudentFName @student.StudentLName</a></div>
        </div>
    }
</div>