<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle">HTTP 5112 - School Database - Ederes Gure</h1>
        <p class="lead">Cumulative Project</p>
    </section>
    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Teachers Database</h2>
            <p>This will send you to the list of all teachers in our system.</p>
            <p><a class="btn btn-outline-dark" href="/Teacher/List">Go to Teachers &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Students Database</h2>
            <p>This will send you to the list of all students in our system.</p>
            <p><a class="btn btn-outline-dark" href="/Student/List">Go to Students &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Courses Database</h2>
            <p>This will send you to the list of all courses in our system.</p>
            <p><a class="btn btn-outline-dark" href="/Course/List">Go to Courses &raquo;</a></p>
        </section>
    </div>
</main>