@model TeacherProject.Models.Course
@{
    ViewBag.Title = "DeleteConfirm";
}


<div id="containershow>
    <nav>
        <a class="navlink" href="/Course/Show/@Model.ClassID">Cancel</a>
    </nav>
    <h2>Are you sure you want to delete @Model.ClassCode @Model.ClassName?</h2>
    <p>This action cannot be undone.</p>
    <form method="post" action="/Course/Delete/@Model.ClassID">
        <button class="delbutton">
            Confirm Delete
        </button>
    </form>
</div>
