@model IEnumerable<TeacherProject.Models.Classes>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<p>This page should be showing all information on all classes.</p>
<a class="btn btn-primary" href="/">Back to Home</a>
<div id="containerList">
    <h2>List of Classes</h2>
    <form action="/Classes/List" method="GET">
        <input type="text" name="SearchKey" value="" autocomplete="off" />
        <input type="submit" value="Search" />
    </form>
    @foreach (var classes in Model)
    {
        <div class="listitem row">
            <div class="col1-md-12"><a href="/Classes/Show/@classes.ClassID">@classes.ClassCode @classes.ClassName</a></div>
        </div>
    }
</div>

