@model IEnumerable<TeacherProject.Models.Teacher>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<p>This page should be showing all information on all Teachers.</p>
<a class="btn btn-primary" href="/">Back to Home</a>
<div id="containerList">
    <nav>
        <a class="navlink" href="/Teacher/New">New Teacher</a>
    </nav>
    <h2>List of Teachers</h2>
    <form action="/Teacher/List" method="GET">
        <input type="text" name="SearchKey" autocomplete="off" />
        <input type="submit" value="Search" />
    </form>
    @foreach (var teacher in Model)
    {
        <div class="listitem row">
            <div class="col1-md-12"><a href="/Teacher/Show/@teacher.TeacherID">@teacher.TeacherFName @teacher.TeacherLName</a></div>
        </div>
    }
</div>
